{erl_opts, [debug_info]}.

{deps, [{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}}]}.

{shell, [{config, "config/sys.config"},
         {apps, [zazanet, cowboy]}]}.

{dialyzer, [{warnings, [unknown]},
            {plt_extra_apps, [parsetools, public_key]}]}.

{relx, [{release, {zazanet, {git, short}}, [zazanet]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {sys_config, "config/sys.config"}]}.

{profiles, [{prod, [{relx, [{sys_config_src, "./config/sys.config.src"},
			    {vm_args_src, "./config/vm.args.src"},
			    {dev_mode, false},
			    {include_erts, true},
			    {include_src, false},
			    {debug_info, strip}]}]}]}.
