{erl_opts, [debug_info]}.

{deps, [{cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.9.0"}}},
        {jiffy, {git, "https://github.com/davisp/jiffy", {tag, "1.0.9"}}},
        {jsonformat, {git, "https://github.com/kivra/jsonformat", {tag, "v2.3.1"}}}]}.

{dialyzer, [{warnings, [unknown]},
            {plt_extra_apps, [parsetools, public_key]}]}.

{relx, [{release, {zazanet, {git, short}}, [zazanet]},
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true}]}.

{project_plugins, [rebar3_proper]}.

{profiles, [{test, [{deps, [{proper, {git, "https://github.com/proper-testing/proper.git", {tag, "v1.4"}}}]}]},
            {dev, [{relx, [{sys_config, "./config/dev.sys.config"}]}]},
            {prod, [{relx, [{sys_config_src, "./config/sys.config.src"},
			    {vm_args_src, "./config/vm.args.src"},
			    {dev_mode, false},
			    {include_erts, true},
			    {include_src, false},
			    {debug_info, strip}]}]}]}.
