[{kernel, [{logger_level, debug},
           {logger, [{handler,
                      default,
                      logger_std_h,
                      #{formatter => {jsonformat, #{new_line => true,
                                                    meta_with => [time, mfa, line]}}}}]}]},
 {zazanet, [{vsn, "dev"},
            {port, 80}]}].
